<mat-nav-list>
  <h3 matSubheader>项目</h3>
  <mat-list-item [routerLink]="['/project']" (click)="onNavClick()">
    <mat-icon mat-list-icon>widgets</mat-icon>
    <span matLine>项目首页</span>
    <span matLine matSubheader>查看您的所有项目</span>
  </mat-list-item>
  <h3 matSubheader>日历</h3>
  <mat-list-item  [routerLink]="['/tasklist']" (click)="onNavClick()">
    <mat-icon mat-list-icon>date_range</mat-icon>
    <span matLine>月视图</span>
    <span matLine matSubheader>按月查看您的任务</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>looks_6</mat-icon>
    <span matLine>周视图</span>
    <span matLine matSubheader>按周查看您的任务</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>today</mat-icon>
    <span matLine>日视图</span>
    <span matLine matSubheader>按日查看您的任务</span>
  </mat-list-item>
</mat-nav-list>