
<mat-drawer-container [class.myapp-dark-theme]="darkTheme">
  <mat-drawer #sidenav position="start" mode="over">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <div class="site">
    <header>
      <app-header (toggleDarkTheme)="switchTheme($event)" (toggle)="sidenav.toggle()"></app-header>
    </header>
    <main>
      <div class="square" [@square]="squareState" (click)="onClick()"></div>
      <!-- <router-outlet></router-outlet> -->
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</mat-drawer-container>