<form>
  <mat-card>
    <mat-card-header>
      <mat-card-title>登录：</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="fill-width">
        <input matInput type="text" placeholder="您的email"/>
      </mat-form-field>
      <mat-form-field class="fill-width">
        <input matInput type="password" placeholder="您的密码"/>
      </mat-form-field>
      <button mat-raised-button color="primary" type="button">登录</button>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>还没有账户？<a href="">注册</a></p>
      <p>忘记密码？<a href="">找回</a></p>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>每日佳句</mat-card-title>
      <mat-card-subtitle>
        满足感在于不断努力，而不是现有成就。全心努力定会胜利满满。
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1539232896983&di=8209740fa6560bd9906e2174ed5031c0&imgtype=0&src=http%3A%2F%2Fimg.mp.itc.cn%2Fupload%2F20170423%2F354ed8d00e814a1986868eb96c72ffac_th.jpeg" alt="">
    <mat-card-content>
      The sense of satisfaction lies in continuous efforts, not existing ones. All efforts will win.
    </mat-card-content>
  </mat-card>
</form>