<form [formGroup]="form" (ngSubmit)="onSubmit(form, $event)">
  <div class="age-input">
    <div>
      <mat-form-field>
        <input matInput
              [matDatepicker]="birthPicker"
              formControlName="birthday"
              placeholder="出生日期"
              type="text" />
        <!-- <button matSuffix
                [matDatepickerToggle]="birthPicker" type="button"></button> -->
        <mat-datepicker-toggle matSuffix [for]="birthPicker"></mat-datepicker-toggle>
        <mat-error>日期不正确</mat-error>
      </mat-form-field>
      <mat-datepicker touchUi="true" #birthPicker></mat-datepicker>
    </div>
    <ng-container formGroupName="age">
      <div class="age-num">
        <mat-form-field>
          <input matInput
                formControlName="ageNum"
                type="number"
                placeholder="年龄"/>
        </mat-form-field>
      </div>
      <div>
        <mat-button-toggle-group formControlName="ageUnit">
          <mat-button-toggle *ngFor="let unit of ageUnits" [value]="unit.value">{{unit.label}}</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <mat-error *ngIf="form.get('age').error">年龄或单位不正确</mat-error>
    </ng-container>
  </div>
</form>